
.myContentArticleBox{
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px auto;
    // height: 500px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}