
.myBackBox{
    min-height: 100vh;
    width: 100vw;

    .demo-logo-vertical{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img{
            width: 100%;
            height: 80px;
            object-fit: contain;
        }
    }
}